/* src/components/Differentials.css */
.differentials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #1e1e2b;
    color: #ffffff;
    min-height: 600px; /* Aumentar a altura mínima */
  }
  
  .differentials-content {
    flex: 1;
    max-width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .differentials-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .differentials-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .differentials-content .learn-more {
    font-size: 1.5rem;
    border: none;
    color: #282936;
    margin-top: 20px;
  }
  
  .differentials-examples {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    width: 100%;
    max-width: 250px;
    height: 300px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all 0.3s;
  }
  
  .card2 {
    width: 100%;
    max-width: 250px;
    height: 300px;
    background-color: #1a1a1a;
    transition: all 0.2s;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
  }
  
  .card2:hover {
    transform: scale(0.98);
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }
  
  .differential-icon {
    font-size: 2.5rem;
    color: #73b809;
    margin-bottom: 10px;
  }
  
  .card2 h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .card2 p {
    font-size: 1.2rem;
  }
  
  /* Button styles */
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #73b809; /* Cor alterada */
    border-radius: 1.625rem;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text {
    color: #fff;
  }
  