/* Estilos para desktop (padrão) */
.differentials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  color: black;
  background-color: #f2f2f2;
  min-height: 600px;
}

.differentials-content {
  flex: 1;
  max-width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.differentials-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.differentials-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.differentials-examples {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card, .card2 {
  width: 100%;
  max-width: 250px;
  background-color: #1a1a1a;
  transition: all 0.2s;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  height: auto;
  min-height: 320px; /* Define uma altura mínima para garantir consistência */
}

.card2 {
  background-color: #1a1a1a;
}

.card2:hover {
  transform: scale(0.98);
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.differential-icon {
  font-size: 2.5rem;
  color: #73b809;
  margin-bottom: 10px;
}

.card2 h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card2 p {
  font-size: 1.2rem;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  .differentials {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: auto;
  }

  .differentials-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .differentials-content h2 {
    font-size: 2rem;
  }

  .differentials-content p {
    font-size: 1.2rem;
  }

  .differentials-examples {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-right: 30px;
  }

  .card, .card2 {
    max-width: 100%;
    height: auto;
    min-height: 300px; /* Define uma altura mínima para garantir consistência */
    padding: 15px; /* Ajuste do padding para melhor visualização em telas menores */
  }

  .card2 h3 {
    font-size: 1.5rem;
    margin-bottom: 8px; /* Reduz a margem inferior para melhor ajuste em telas menores */
  }

  .card2 p {
    font-size: 1rem;
    line-height: 1.4; /* Ajuste da altura da linha para melhorar a legibilidade */
  }

  .differential-icon {
    font-size: 2rem; /* Reduz o tamanho do ícone para melhor ajuste em telas menores */
    margin-bottom: 8px;
  }
}
