/* Estilos para desktop (padrão) */
.learning-path {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Preencher toda a altura da tela */
  width: 100vw; /* Preencher toda a largura da tela */
  padding: 50px;
  background-color: #f2f2f2;
}

.learning-path img {
  width: 50%;
  max-width: 600px;
  margin-right: 50px;
}

.learning-steps {
  max-width: 600px;
}

.learning-steps h2 {
  font-size: 2.5rem; /* Aumentar o tamanho da fonte */
  margin-bottom: 20px;
}

.learning-steps ol {
  list-style: none;
  padding-left: 0;
  counter-reset: step;
}

.learning-steps li {
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.learning-steps li::before {
  content: counter(step);
  counter-increment: step;
  background-color: #73b809;
  color: white;
  border-radius: 50%;
  width: 40px; /* Aumentar o tamanho do círculo */
  height: 40px; /* Aumentar o tamanho do círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 1.5rem; /* Aumentar o tamanho do número */
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  .learning-path {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }

  .learning-path img {
      width: 80%;
      max-width: 300px;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .learning-steps {
      max-width: 100%;
  }

  .learning-steps h2 {
      font-size: 2rem;
  }

  .learning-steps li {
      font-size: 1.2rem;
      margin-bottom: 15px;
  }

  .learning-steps li::before {
      width: 30px; /* Diminuir o tamanho do círculo */
      height: 30px; /* Diminuir o tamanho do círculo */
      font-size: 1.2rem; /* Diminuir o tamanho do número */
      margin-right: 10px;
  }
}
