/* Estilos para desktop (padrão) */
.botao {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #73b809;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.botao::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
  transform-origin: center;
}

.botao::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
}

.botao:hover::before,
.botao:hover::after {
  transform: scale(0);
}

.botao:hover {
  box-shadow: inset 0px 0px 25px #73b809;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  .botao {
      width: 8em;
      height: 3em;
      font-size: 14px;
  }
}
