/* Estilos para desktop (padrão) */
.course-details-custom {
  padding: 20px;
}

.course-overview-custom {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 80px; /* Espaço entre o header e a imagem */
}

.image-container-custom {
  flex: 1;
}

.course-image-custom {
  width: 55%; /* Ajusta a largura da imagem para ocupar menos espaço */
  display: block;
}

.card-custom {
  background-color: #011522;
  border-radius: 8px;
  color: white;
  padding: 20px;
  margin-top: 80px; /* Espaço entre o header e o card */
  max-width: 400px; /* Limitar a largura máxima do card */
  margin-right: 600px;
  height: auto; /* Remove a altura fixa */
  min-height: 300px; /* Define uma altura mínima */
}

.tools-custom {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle-custom {
  padding: 0 4px;
}

.box-custom {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red-custom {
  background-color: #ff605c;
}

.yellow-custom {
  background-color: #ffbd44;
}

.green-custom {
  background-color: #00ca4e;
}

.card-content-custom h1 {
  font-size: 24px;
  margin: 0;
  word-spacing: 0.2em; /* Aumenta o espaçamento entre as palavras */
}

.card-content-custom .category-custom,
.card-content-custom .salary-custom {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.course-description-custom,
.course-job-market-custom,
.course-details-info-custom {
  margin: 20px 0;
}

.course-details-info-custom {
  display: flex;
  justify-content: space-around;
}

.detail-custom {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.detail-custom span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
  .course-details-custom {
    padding: 10px;
  }

  .course-overview-custom {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .image-container-custom,
  .card-custom {
    width: 100%;
    margin: 10px 0;
  }

  .course-image-custom {
    width: 80%; /* Diminui a largura da imagem em dispositivos móveis */
  }

  .card-custom {
    margin: 20px 0;
    max-width: none;
    margin-left: 0;
    min-height: 300px; /* Define uma altura mínima */
  }

  .card-content-custom h1 {
    font-size: 20px;
    word-spacing: 0.2em; /* Aumenta o espaçamento entre as palavras */
  }

  .card-content-custom .category-custom,
  .card-content-custom .salary-custom {
    font-size: 14px;
    word-spacing: 0.2em; /* Aumenta o espaçamento entre as palavras */
  }

  .tools-custom {
    justify-content: center;
  }

  .course-description-custom,
  .course-job-market-custom,
  .course-details-info-custom {
    margin: 10px 0;
  }

  .course-details-info-custom {
    flex-direction: column;
  }

  .detail-custom {
    margin: 10px 0;
  }
}
